<!DOCTYPE html>
<html>
<head>
    <title>Mac the nhan</title>
	<meta charset="utf-8" />
    <link href="../Content/calculator.css" rel="stylesheet" />
    <script src="../Scripts/TypeScript/02-07-class-calculator.js"></script>
</head>
<body>
    <h2>TypeScript Calculator</h2>
    <a href="../index.html">Home</a>
    <div class="Calculator">
        <div>
            X: <input type="text" id="X" />&nbsp;
            Y: <input type="text" id="Y" />
        </div>
        <br />
        <div class="Buttons">
            <button id="Add">Add</button>&nbsp;&nbsp;
            <button id="Subtract">Subtract</button>
        </div>
        <br />
        <div id="Output"></div>
    </div>
</body>
</html>
