<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
    <link href="../../Content/css/style.css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="../../Scripts/TypeScript/bigProject.js"></script>

</head>
<body>
    <div>
        <div class="menu home">

            <div class="navigation">

                <div class="arrow-typeOfMeeting active">
                    <div class="inner-arrow inner-arrow1  typeOfMeeting">1. Type of Meeting</div>
                </div>
                <div class="arrow arrow-applicantInfomation">
                    <div class="inner-arrow applicantInfomation">2. Applicant Infomation</div>
                </div>
                <div class="arrow arrow-agenda">
                    <div class="inner-arrow agenda">3. Agenda</div>
                </div>
                <div class="arrow arrow-otherAttendees">
                    <div class="inner-arrow otherAttendees">4. Other Attendees</div>
                </div>

                <div class="arrow-end">
                    <div class="inner-arrow"></div>
                </div>

            </div>

            <div class="content">

                <hr />

                <p>Select the type of meeting you want below. </p>

                <div>
                    <button class="meeting-type face-to-face text-active">Face-to-Face</button>
                    <button class="meeting-type video-conference">Video Conference</button>
                    <button class="meeting-type teleconference">Teleconference</button>
                </div>

                <div class="note">
                    <p class="text-note note-faceToFace">Note: Face-to-Face meeting will take place at Haberdashers'Hall (18 West Smithfield, London EC1A 9HQ).</p>
                    <p class="text-note note-videoConference" style="display: none">Note: Choosing Video Conference and Teleconference will download a software that will be used in the meeting. If this is not workable for you , please choose another type for meeting.</p>
                    <p class="text-note note-teleconference" style="display: none">Note: Teleconference.</p>
                </div>

            </div>

            <div class="footer">
                <button class="back" style="background: green; color: white; width: 80px; height: 40px">Back</button>
                <button class="next" style="background: red; color: white; width: 80px; height: 40px">Next</button>
            </div>

            <div>

            </div>

        </div>
    </div>
</body>
</html>