<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link href="../Content/css/bootstrap.min.css" rel="stylesheet" />
    <title></title>
</head>
<body>
    
    <div class="menu home">
        
        <div class="navigation">
            <div class="arrow-typeOfMeeting active">
                <div class="inner-arrow inner-arrow1  typeOfMeeting">1. Type of Meeting</div>
            </div>
            <div class="arrow arrow-applicantInfomation">
                <div class="inner-arrow applicantInfomation">2. Applicant Infomation</div>
            </div>
            <div class="arrow arrow-agenda">
                <div class="inner-arrow agenda">3. Agenda</div>
            </div>
            <div class="arrow arrow-otherAttendees">
                <div class="inner-arrow otherAttendees">4. Other Attendees</div>
            </div>
            <div class="arrow-end">
                <div class="inner-arrow"></div>
            </div>
        </div>

        <div class="container">
            <div id="content"></div>
        </div>

        <div class="footer">
            <button class="back" style="background: green; color: white; width: 80px; height: 40px">Back</button>
            <button class="next submit" style="background: red; color: white; width: 80px; height: 40px">Next</button>
        </div>
    </div>
    <hr />    

    <script src="../Scripts/libs/jquery.js"></script>
    <script src="../Scripts/libs/sammy.js"></script>
    <script src="../Scripts/libs/mustache.js"></script>
    <script src="../Scripts/libs/sammy.mustache.js"></script>
    <script src="../Scripts/TypeScript/sammyjs/app.js"></script>
    <script src="../Scripts/TypeScript/sammyjs/Controller/typeOfMeeting.js"></script>
</body>
</html>