<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link href="../Content/css/bootstrap.min.css" rel="stylesheet" />
    <title></title>
</head>
<body>
    
    <div class="container">
        <div class="navbar">
            <div class="navbar-inner">
                <a class="brand" href="#">Filme</a>
            </div>
        </div>
        <div id="content"></div>
        <button class="next" style="background: red; color: white; width: 80px; height: 40px">Next</button>
    </div>

    <script src="../Scripts/libs/jquery.js"></script>
    <script src="../Scripts/libs/sammy.js"></script>
    <script src="../Scripts/libs/mustache.js"></script>
    <script src="../Scripts/libs/sammy.mustache.js"></script>
    <script src="../Scripts/TypeScript/sammyjs/app.js"></script>
</body>
</html>