body {
    margin: 10px;
    background: turquoise;
}

.home {
    width: 975px;
    height: 1800px;
    margin: auto;
    background: white;
    padding: 4px;
}

.hero-unit {
    background: #9B9B9B;
}

.container {
    margin-top: 20px;
    background: #9B9B9B;
}

.space {
    float: left;
    margin-right: 5%;
    margin-bottom: 1%;
}

.arrow {
    float: left;
    margin-right: -50px;
    font-size: 0;
}

.arrow-typeOfMeeting {
    float: left;
    margin-right: -50px;
    font-size: 0;
}

.arrow-end {
    float: left;
    margin-right: -50px;
    font-size: 0;
}

.inner-arrow {
    width: 142px;
    height: 58px;
    display: inline-block;
    background-color: #9B9B9B;
    text-align: center;
    font-size: 14px;
    font-weight: lighter;
    line-height: 58px;
    vertical-align: middle;
}

.inner-arrow1 {
    background-color: #4c7baa;
    color: white;
}


.arrow:before, .arrow:after {
    content: '';
    display: inline-block;
    width: 0;
    height: 0;
    border: 29px solid transparent;
    vertical-align: middle;
}



.typeOfMeeting:after {
    border-left-color: red;
}

.arrow-typeOfMeeting:after {
    content: '';
    display: inline-block;
    width: 0;
    height: 0;
    border: 29px solid transparent;
    vertical-align: middle;
}


.arrow-end:before {
    content: '';
    display: inline-block;
    width: 0;
    height: 0;
    border: 29px solid transparent;
    vertical-align: middle;
}

.arrow-typeOfMeeting:after {
    border-left-color: #9B9B9B;
}

.activeTypeOfMeeting:after {
    border-left-color: #4c7baa;
}

.arrow:before {
    border-top-color: #9B9B9B;
    border-bottom-color: #9B9B9B;
    border-right-color: #9B9B9B;
}

.active:before {
    border-top-color: #4c7baa;
    border-bottom-color: #4c7baa;
    border-right-color: #4c7baa;
}

.arrow-end:before {
    border-top-color: #9B9B9B;
    border-bottom-color: #9B9B9B;
    border-right-color: #9B9B9B;
}

.arrow:after {
    border-left-color: #9B9B9B;
}

.active:after {
    border-left-color: #4c7baa;
}

.content {
    margin-top: 8%;
}

.footer {
    margin-top: 20px;
}

.note {
    margin-top: 30px;
    padding: 10px;
    background: #e5e5e5;
}

.meeting-type {
    background: white;
    width: 153px;
    height: 36px;
    margin-right: 15px;
    border: 1px solid transparent;
    border-color: #9B9B9B;
}

.text-active {
    background: #007fff;
    color: white;
}


@media screen and (max-width: 1024px){
    .home{
        width: 100%;
    }
}


/*============================================AGENA STYLE=======================================*/

.content-agenda{
    margin-top: 46px;
    position: relative;
}

.summary-meeting{
    width: 95%;
    height: 100px;
}

.compulsory-field {
    color: red;
}

.input {
    outline: 0;
    padding: 15px 15px;
    font-size: 16px;
    position: relative;
}

.input-summary{
    display: inline-block;
    width: 100%;
    display: flex;
}

.label {
    position: absolute;
    pointer-events: none;
    left: 20px;
    top: 18px;
    transition: 0.2s ease all;
    opacity: 0.6;
}

.compulsory-field {
    color: red;
}

.title-upload {
    margin-top: 40px;
    margin-bottom: 40px;
}



#dragandrophandler {
    border: 2px dotted #0B85A1;
    width: 400px;
    color: #92AAB0;
    text-align: left;
    vertical-align: middle;
    padding: 10px 10px 10px 10px;
    margin-bottom: 10px;
    font-size: 200%;
}

.progressBar {
    width: 200px;
    height: 22px;
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
    display: inline-block;
    margin: 0px 10px 5px 5px;
    vertical-align: top;
}

    .progressBar div {
        height: 100%;
        color: #fff;
        text-align: right;
        line-height: 22px; /* same as #progressBar height if we want text middle aligned */
        width: 0;
        background-color: #0ba1b5;
        border-radius: 3px;
    }

.statusbar {
    border-top: 1px solid #A9CCD1;
    min-height: 25px;
    width: 700px;
    padding: 10px 10px 0px 10px;
    vertical-align: top;
}

    .statusbar:nth-child(odd) {
        background: #EBEFF0;
    }

.filename {
    display: inline-block;
    vertical-align: top;
    width: 250px;
}

.filesize {
    display: inline-block;
    vertical-align: top;
    color: #30693D;
    width: 100px;
    margin-left: 10px;
    margin-right: 5px;
}

.abort {
    background-color: #A8352F;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    display: inline-block;
    color: #fff;
    font-family: arial;
    font-size: 13px;
    font-weight: normal;
    padding: 4px 15px;
    cursor: pointer;
    vertical-align: top
}

.custom-file {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.box__icon {
    width: 100%;
    height: 80px;
    fill: #92b0b3;
    display: block;
    margin-bottom: 40px;
}

.box__dragndrop{
    font-size: 13px;
}

/*input:focus ~ .label,
input:not(:focus):valid ~ .label {
        font-size: 1em;
        position: absolute;
        top: 347px;
        left: 203px;
        opacity: 0.6;
    505
    140
}*/

/*============================================Other Attendees=======================================*/
.content-otherAttendees{
    margin-top: 46px;
}

.form .form-item {
    display: flex;
    margin-bottom: 15px;
}

.form .form-group {
    width: 33.33%;
}

.form .row .txt-value {
    width: 80%;
    height: 2.6em;
    padding: 0px 10px;
    font-size: 14px;
    border: 1px solid #666;
    border-radius: 3px;
}

.form .title-form {
    display: flex;
}

.title-form .title-name {
    width: 33.33%;
    margin-bottom: 4px;
}
.title-form .title-name p {
    width: 90%;
    text-align: center;
}

.add-number{
    margin-top: 10px

}

.dropdown {
    width: 86.77%;
    height: 2.742em;
    font-size: 14px;
    border: 1px solid #666;
    border-radius: 3px;
    display: inline-block;
    position: relative;
    overflow: hidden;
 
    background: #f2f2f2;
    border-color: white #f7f7f7 #f5f5f5;
    
}

    .dropdown:before, .dropdown:after {
        content: '';
        position: absolute;
        z-index: 2;
        top: 13px;
        right: 10px;
        width: 0;
        height: 0;
        border: 4px dashed;
        border-color: #888 transparent;
        pointer-events: none;
    }

    .dropdown:before {
        border-bottom-style: solid;
        border-top: none;
    }

    .dropdown:after {
        margin-top: 7px;
        border-top-style: solid;
        border-bottom: none;
    }

.dropdown-select {   
    border-radius: 3px;
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 6px 8px 6px 10px;
    line-height: 14px;
    font-size: 12px;
    /*color: #62717a;*/
    text-shadow: 0 1px white;
   
    -webkit-appearance: none;
}



    

    