<!DOCTYPE html>
<html>
<head>
    <title></title>
	<meta charset="utf-8" />
    <link href="../../Content/toastr.css" rel="stylesheet" />
    <link href="../../Content/toastr.min.css" rel="stylesheet" />
    <script src="../../Scripts/modernizr.js"></script>
</head>
<body>
    <h2>Internal Modules - Named</h2>
    <a href="../../index.html">Home</a>
    <script src="../../Scripts/jquery-1.6.3.min.js"></script>
    <script src="../../Scripts/toastr.js"></script>
    <script src="../../Scripts/TypeScript/Type_Module/04-02-internal.js"></script>
</body>
</html>
