<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <link href="../../Content/toastr.css" rel="stylesheet" />
    <script src="Scripts/modernizr.js"></script>
</head>

<body>
    <h2>Internal Modules - Implicitly in Global Namespace</h2>
    <div><a href="../../index.html">Home</a></div>
    <script src="../../Scripts/jquery-1.6.3.min.js"></script>
    <script src="../../Scripts/toastr.min.js"></script>
    <script src="../../Scripts/TypeScript/Type_Module/04-01-global-module.js"></script>
</body>
</html>
